.dialog {
  border: 1px solid lightgray;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-rows: 1fr, .8fr, 1fr;
  margin: auto;
  min-width: 208px;
  padding-block: 20px;
  width: 80%;
}

.title {
  color: darkslategray;
  font-size: 1.4rem;
  font-weight: 500;
  padding-inline: 20px;
}

.body {
  color: darkslategrey;
  border-block: 1px solid lightgray;
  margin-block: 10px;
  padding-inline: 20px;
  padding-block: 20px;
}

.footer {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-inline: 20px;
  padding:  10px;
  width: fit-content;
  justify-self: flex-end;
}