.item {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    padding-top: 1rem;
}

.item-image {
    display: block-inline;
    border: 1px solid lightgray;
    height: 70px;
    width: 70px;
}

.image-name-desc {
    align-items: flex-end;
    display: flex;
    gap: .6rem
}

.name {
    font-weight: bold;
    margin-bottom: 8px;
}

.desc {
    margin-top: 0px;
}

.price {
    color: dimgray;
}

.btn-add-to-cart {
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5em;
}

button, input {
    background-color: white;
    border: 1px solid gray;
    /* border-radius: 5px; */
    transition: all ease-out 3ms;
}

button:hover, button:focus {
    background-color: white;
    border: 1px solid orange;
}