.credit-card {
  background-color: #2954a2;
  border-radius: 20px;
  color: #fff;
  margin: auto;
  padding-block: 10px;
  padding-inline: 40px;
  width: fit-content;
}

.bank-name {
  float: right;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 70px;
  margin-top:10px;
}

.card-number {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.8rem;
}

.card-number-desc, .expire-desc {
  font-size: 1rem;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1px;
}

.expire {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: -8px;
}

.expire-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: .8rem;
  justify-content: center;
  margin-top: -3px;
}

.expire-desc > span:first-of-type {
  margin-bottom: -2px;
}

.expire-desc > span:last-of-type {
  margin-top: -2px;
}

.expire-date, .holder-name{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
}

.holder-name {
  font-size: 2rem;
  padding-top: 20px;
  font-weight: 500;
}
