body {
  background-color: #000;
  margin: 0;
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  min-width: 770px;
}

picture {
  border: 2px solid #8678ff;
  display: flex;
  flex-direction: column;
  padding-block: 50px;
  padding-inline: 100px;
  margin: auto;
  margin-top: 40px;
  max-width: 80%;
}
svg {
  /* padding-block: 50px;
  padding-inline: 100px; */
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 70vh;
  height: 40vh;
}

.title {
  color: #8678ff;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 4px;
  text-transform: uppercase;
}

.title::first-letter {
  font-size: 4rem;
}

.title-last-char, .title-first-char {
  font-size: 4rem;
}

.text {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin: 2px;
}